.menu-left {
    display: flex;
    width: 70px;
    height: 100vh;
    /* background: #6155ae; */
    justify-content: center;
    -webkit-transition: width 0.3s; /* Safari prior 6.1 */
    transition: width 0.3s;
    -webkit-box-shadow: 3px 1px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 9px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 9px -8px rgba(0,0,0,0.75);
}

.menu-left-modules-wrapper {
    padding: 5px 0;
    margin: 0 10px;
    width: 90%;
}

.image-profile {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    top: 10%;
    right: 10%;
    /* margin: auto; */
    position: absolute;
}

.item-profile {
    height: 110px;
    width: 110px;
    border: 2px dashed white;
    border-radius: 50%;
    display: flex;
    position: relative;
    margin: 0 auto;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.app-logo {
  width: 50px;
  display: flex;
  margin: 10px auto;
  font-family: 'Montserrat Alternates', sans-serif;
}

.item-icon {
  justify-self: center;
}

.item-button {
  cursor: pointer;
}

.item-title {
  margin: 0 0 0 15px;
}

.item-wrapper {
  display: grid;
  cursor: pointer;
  padding: 5px 0;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: 25px;
}

.item-wrapper:hover span,
.item-wrapper:hover div {
  color: #4CA1EF !important;
}

.item-wrapper:hover .sub-item-icon {
  display: block !important;
}

h1, h2, h3, h4, h5, h6, label, span, p {
  color: #a5a5a5 !important;
} 

.sub-item-icon {
  height: 24px;
  border: 1.5px solid;
}

.hidden {
  display: none;
}